<% if @students.blank? %>
<p>There are not any books currently in the system.</p>
<% else %>
<p>These are the current books in our system</p>

<ul id = "students">
   <% @students.each do |c| %>
   <li><%= link_to c.title, {:action => 'show', :p_id => c.p_id} -%></li>
   <% end %>
</ul>

<% end %>
<p><%= link_to "Add new Student", {:action => 'new' }%></p>